.App {
  background-color: #b8d9e2;
  text-align: center;
}

.tableHeader {
  text-align: center;
}

.tableText {
  text-align: left;
}

.text {
  text-align: left; 
}


td,
.textarea {
  border: 1px solid #333;
  margin-left: auto;
  margin-right: auto;
  word-break: break-all;
  overflow: auto;
  width: auto;
  height: auto;
}


input {
  word-wrap: break-word;
  word-break: break-all;
}
