.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  background-color: #b8d9e2;
  text-align: center;
}

 .tableHeader {
  text-align: center;
}

.tableText {
  text-align: left;
}

.text {
  text-align: left; 
} 


 td,
.textarea {
  /* border: 1px solid #333; */
  margin-left: auto;
  margin-right: auto;
  word-break: break-all;
  overflow: auto;
  width: auto;
  height: 1px;
} */


input {
  word-wrap: break-word;
  word-break: break-all;
  width: auto
}

select{
  width : 250px;
}
